
  
*{
    margin:0px;
    padding: 0px;
}
body{
    background-color: whitesmoke;
}

.signup_form{
    width: 800px;
    align-content: center;
    background-color: darkgray;
    align-content: center;
    margin-left: 250px;
    /* margin-top: 50px; */
    border-radius: 10px;
    height:670px
    

}

.signup_form h2::before{
    left: 0px;
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}

.signup_form h2::after{
    right: 0px;
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}

h2{
    position: relative;
    text-align: center;
    margin-top: -10px;
}

.form{
    padding: 60px;
    background-color: rgb(62, 62, 105);
    margin: 10px;
    color: white;
    border-radius: 10px 10px 0 0;
    
}

.btnn{
    width: 400px;
    border-radius: 6px;
    margin: 20px;
    margin-left: 120px;
    /* margin-top: 50px; */
    color: white;
    font-weight: 800;
    background-color: rgb(62, 62, 105);
}
p{
    text-align: center;
}

/* .bl{
    height: 50px;
} */


.head{
    text-align: center;
    font-size: 30px;
    color:  black;
    font-weight: 700;
}
