*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* cursor: none; */
}


body{
    height:100vh;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

}
a{
    text-decoration: none;
    color: white;
}

nav{

    background-color: rgba(0, 0, 0,0.6);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 1rem;
    width: 98%;
    position: fixed;
    top: 0%;
}


.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px 0 20px;
    font-size: 30px;
}
.navbar ul li a:hover{
    color: seashell;
}



.main
{
    display: flex;
    padding: 20px;
    height:100%;
    margin-top: 6rem;
}


.question-box{
    border: 2px solid rgb(3, 167, 3);
    border-radius: 8px;
    height: 250px;
    margin: 1rem;
}

.question-box > p{
    margin-left: 50px;
}

.question-box ul li{
    display: inline-block;
}


.proctor-region
{
    height: 100%;
    background-color:#FED2AA;
    /* border: 2px solid red; */
    padding: 10px;
    margin-left: 50px;
    border-radius:10px;
}

.video
{
    height: 200px;
    width: 300px;
    border: 2px solid white;
    border-radius: 6px;
    background-color: blanchedalmond;
}


.video>p{
    text-align: center;
    margin-top:27%;
    font-size:30px;
}


.number-of-question ul li {
   list-style: none;
   border: 1px solid black;
}


#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	/* min-width: 696px; */
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}


    .no{
        border: 1px solid green;
        padding: 4px;
    }